<div class="d-flex flex-column">
  <p style="color: orange; background-color: black; font-style: bold; height: 30px; width: 350px;">
  refresh the page if the board is not displayed
  </p>

  <div class="d-flex flex-column align-items-center m-5">
  <div class="d-flex gap-3">
  <h3><%= link_to "Home", root_path %></h3>
  <h3> < < </h3>
  <h3>Board</h3>
  </div>

  <%= render @board %>
  </div>
</div>
