<div class="d-flex flex-column">
  <header class="d-flex">
    <h3 class="w-100 text-center">
      Board
    </h3>
  </header>

  <div class="d-flex flex-column align-items-center m-5">
  <%= render @board %>
  </div>
</div>
