<div class="d-flex flex-column">
  <header class="d-flex">
    <p class="flex-grow-1" style="color: black; background-color: yellow; font-style: bold; height: 30px; min-width: 350px; margin: 10px;">
      refresh the page if the board is not displayed
    </p>
    <h3 class="w-100 text-center">
      Board
    </h3>
  </header>

  <div class="d-flex flex-column align-items-center m-5">
  <%= render @board %>
  </div>
</div>
